@import url(https://fonts.googleapis.com/css?family=Baloo&subset=latin,vietnamese,latin-ext);

* { 
	margin: 0;
	padding: 0;
}

html { 
    height:100%;
}

h1 {
	margin: 10px;
}

body {
	font: 16px arial,verdana,sans-serif,times;
    height:100%;
	background: #EEE;
}

h2 {
	font-size: 18px;
}

#page-wrap {
	margin: 0px auto;
	color: #002353;
	background: #FFF;
	
	max-width: 1100px;
	/*border: solid #003072;
	border-width: 0px 1px; */
	min-height: 100%;
}

/* Esto es equivalente a #page-wrap .main y significa que aplica a la clase main hija del objeto con id page-wrap */
#page-wrap > .main {
	/* border: 1px solid #999; */
	border: 0px;
	padding: 1%;
	margin-bottom: 1px;
	color: #002353;
	background: #FFF;
}

/* Header styles */
header {
	background: #DD0000;
	font-family: Baloo, cursive;
	font-size: 2rem;
	color: #fffafa;
	min-height: 100px;
	min-width: 1100px;
}

header>.text {
    float: left;
    width: 70%;
  	line-height: 5rem;
}

header>.login {
    /* display: block; */
    float: right;
	padding: 10px 15px;
	font-size: 1.5rem;
	text-align: right;
}

header .login a:visited, a:link {
    color: #fffafa;
}

header .login a:hover {
    color: #CCCCCC;
}
 
#content {
  height:100%;
  overflow:auto;
  padding:10px;
  padding-bottom:20px;
  margin-bottom: 2em;
}

/* Navigation menu styles */
nav {
	/* text-align: left; 
	float: left;
	width: 15%; */
	text-align: left;
	vertical-align: middle;
	font-family: Baloo, cursive;
	font-size: 1.2rem;
	font-weight: bold;
}

nav > span {
	margin: 0px 50px 0px 0px;
	padding: 4px 15px;
	background: #EEE;
	
	border: 1px solid #5f5f5f;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	vertical-align: middle;
}

nav span:hover {
	border: 1px solid #373737;
	background: #DDD;
}

nav span a {
	text-decoration: none;
}

nav span a:visited, a:link {
    color: #5f5f5f;
}

nav span a:hover {
    color: #373737;
}

.menu {
	width:100%;
	margin: 8px 0px;
}

/* Content style */
section {
	min-height: 200px;
}

section > p {
	padding: 20px 50px;
	text-align : justify;
}

section > ul {
	padding: 0px 50px 20px 80px;
	text-align : justify;
}

section > ul > li {
	padding: 5px 0px;
	text-align : justify;
}

.handwrite {
	font-family: Baloo;
	font-size: 1.5rem;
}

.main a {
	font-size: 1.3rem;
    color: #258fd6;
    font-weight: bold;
	font-family: Baloo, cursive;
}

.main a:hover {
    font-weight: bold;
	color: #373737;
}

.links {
	text-align : center;
	vertical-align: middle;
}

.img_discord {
	width: 40px;
  	height: 40px;
	padding: 0px 10px;
}

.img_mail {
	background-image: url("../images/mail-black.svg");
	width: 40px;
  	height: 40px;
	padding: 0px 10px;
}

.footer {
	font-family: Baloo;
	font-size: 1.2rem;
	/* width:100%; */
	height:2em;
	text-align : center;
  	line-height: 2em;
	background: #BBB;
	
	position:fixed;
	/* left:0px; */
	bottom:0px;
	width:1100px;
}

.footer .img_discord, .footer .img_mail {
	width: 20px;
  	height: 20px;
	padding: 0px 5px;
}

.team {
	padding: 20px 50px;
	text-align : justify;
}

.member {
	/* display: block; */
	/* display: inline-block; */
	float: left;
	width: 46%;
	margin: 15px 10px;
}

.member-data {
	/* display: inline-block; */
	float: left;
	text-align: left;
	width: 70%;
}

.member-data > .handwrite {
	font-family: Baloo;
    font-weight: bold;
	font-size: 1.3rem;
}

.avatar {
	/* display: inline-block; */
	float: left;
	text-align: right;
	margin-right: 10px;

	border: 2px solid #5f5f5f;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	width: 100px;
	height: 100px;
	background-image: url("../images/carrot.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}

p.empty, .linea {
    clear: both;
}

.error {
	color: red;
    margin-bottom: 0em !important;
}

.label,
.data,
.buttons {
    margin-bottom: 1em;
}

.label {
	font-weight: bold;
    float: left;
    text-align: right;
    width: 20%;
}

.data {
    /* display: block; */
    float: left;
    margin-left: 2%;
    width: 60%;
}

.buttons {
    /* display: block; */
    float: left;
    margin-left: 2%;
    width: 16%;
}

input[type=submit] {
	padding:5px 15px;
	background:#EEE;
	border:0 none;
    cursor:pointer;
	font-weight: bold;
    
	border: 1px solid #5f5f5f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:hover {
	border: 1px solid #373737;
	background: #DDD;
}